# Application
PORT=3000
NODE_ENV=development

# PostgreSQL (porta 5433 — 5432 pode estar em uso no host)
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/movies_db?schema=public

# Redis
REDIS_URL=redis://localhost:6379

# TMDB (required from Commit 2)
TMDB_API_KEY=your_tmdb_api_key
TMDB_BASE_URL=https://api.themoviedb.org/3
